    <div class="jumbotron">
        <div class="container text-center">
            <img src="">
            <h1>Welcome to the BurgerEater</h1>
            <h3>Create your burger below and start devouring ....</h3>
            <form action="/burgers/add" method="POST"> 
                <input name="burger">
                <button type="submit">Create Burger</button>
            </form>
        </div>
    </div>


    <div class = "container mb-5 p-1">
        <div class="row border text-center mb-2">
            <div class="col-6">
                <h2 class="my-3 p-2 border-bottom">To Be Devoured</h2>
                    {{#each toEat}}
                    <div>
                        <h3>{{burger_name}}</h3>
                        <a href="/burgers/{{id}}" class="btn btn-warning">Update</a>
                    </div>
                    {{/each}}
                
            </div>
            <div class="col-6">
                <h2 class="my-3 p-2 border-bottom">Tastefully Devoured</h2>
                {{#each eatten}}
                <h3>{{burger_name}}</h3>
                {{/each}}
            </div>
        </div>
    </div>