    <div class="jumbotron">
        <div class="container text-center">
            <img src="">
            <h1>Welcome to the BurgerEater</h1>
            <h3>Create your burger below and start devouring ....</h3>
            <form>
                <div class="form-group">
                    <label>Name of your burger</label>
                    <input width="100%" name="name" id="name" class="form-control"> 
                    <a type="submit" class="btn btn-outline-warning">Submit your burger!</a>
                </div>
            </form>
        </div>
    </div>


    <div class = "container">
        <div class="row border text-center">
            <div class="col-6">
                <h2>Burgers Waiting to be Devoured</h2>
                <ul>
{{!-- loop through returned array and desplay these dam burgers --}}
                </ul>
            </div>
            <div class="col-6">
                <h2>Burgers Tastefully Devoured</h2>
                <ul>
{{!-- loop through returned array and desplay these dam burgers --}}
                </ul>
            </div>
        </div>
    </div>