<h1>Update Your Burger</h1>
<hr>
<div class="container p-5 border">
<form action="" method="POST">
    <input name="burgerChange" value={{burger_name}}>
    <button type="submit">Update Burger</button>
</form>
<form class="my-4" action="/burgers/devour/{{id}}" method="POST">
    <button class="btn btn-warning" type="submit">Devour Burger</button>
</form>
</div>

